.central-part{
    background-color: red;
    img{
        border-radius: 50%;
        width: 10%;
        flex-direction: st;
    }
}

.dropdown{
    display: flex;
    justify-content: space-between;
}