.central-part{
    background-color: red;
    img{
        border-radius: 50%;
        width: 4%;
    }
    i{
        font-size: 20px;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}