.center{
    background: rgb(61,60,60);
background: linear-gradient(180deg, rgb(45, 44, 44) 11%, rgba(18,18,18,1) 45%);
}

.bg-img{
    background-image: url(https://picsum.photos/200/300);
    height: 250px;
}
.name{
    font-size: 3em;
}

.custom{
    border-radius: 30px;
    font-size: 0.8em;
}

.profile-picture-sm {
    @extend .profile-picture;
    width: 25px;
    height: 25px;
}

.btn-following{
    font-size: 0.4em;
    font-weight: bold;
}

.miniature{
    @extend .profile-picture;
    border-radius: 0;
}
.profile-picture-l{
    @extend .profile-picture;
    width: 50px;
    height: 50px;
}

.my-font-size-sm{
    font-size: 0.5em;
}

.my-badge{
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 1px;
    left: 67%;
    bottom: 20%;
}