.center{
    background-color: #212529;
}

.bg-img{
    background-image: url(https://picsum.photos/200/300);
    height: 250px;
}
.name{
    font-size: 3em;
}

.custom{
    border-radius: 30px;
    font-size: 0.8em;
}

.profile-picture {
    width: 25px;
    height: 25px;
}