.center{
    background: rgb(61,60,60);
background: linear-gradient(180deg, rgb(45, 44, 44) 11%, rgba(18,18,18,1) 45%);
}

.bg-img{
    background-image: url(https://picsum.photos/200/300);
    height: 250px;
}
.name{
    font-size: 3em;
}

.custom{
    border-radius: 30px;
    font-size: 0.8em;
}

.profile-picture {
    width: 25px;
    height: 25px;
}

.btn-following{
    font-size: 0.4em;
    font-weight: bold;
}

.miniature{
    width: 30px;
    height: 30px;
}
